<h1>My Todo's</h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
  <table class="table">
    <!-- <caption>My Todo's</caption> -->
    <thead>
      <tr>
        <th>Description</th>
        <th>Target Date</th>
        <th>Is Completed?</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <!-- for (Todo todo: todos) { -->
            <tr *ngFor="let todo of todos">
              <td>{{todo.description}}</td>
              <td>{{todo.targetDate | date | uppercase}}</td>
              <td>{{todo.done}}</td>
              <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>
              <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>
            </tr>
      <!-- } -->
    </tbody>
  </table>

  <div class="row">
    <button (click)="addTodo()" class="btn btn-success">Add</button>
  </div>
  <br /><br /><br />
  
  <div class="polaroid rotate_right">
    <img src="https://i.guim.co.uk/img/media/6499e11a3b16ff598e28b49e9379b2a3c0f4b4ac/369_761_4485_2691/master/4485.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=f3fb496f4ca2ab8bff9b6f9281d06d14" alt="Pulpit rock" width="100%" height="254px">
    <p class="caption">Simone Biles: 'Some days I'm like, why am I here? But in the end ...</p>
  </div>
  
  <div class="polaroid rotate_left">
    <img src="https://i.insider.com/5f089b983ad86116227e24c8?width=1100&format=jpeg&auto=webp" alt="Monterosso al Mare" width="100%" height="254px">
    <p class="caption">Simone Biles retiring after Olympics, dreads extrs USA Gymnastics...</p>
  </div> 

  <div class="polaroid rotate_right1">
    <img src="https://www.gannett-cdn.com/presto/2019/11/22/PIND/f6f0718f-f814-442b-888a-25b40416ebbb-USATSI_13194136.jpg" alt="Pulpit rock" width="100%" height="254px">
    <p class="caption">Simone Biles, U.S. national gymnastics team to train in Indy for...</p>
  </div>
  
  <div class="polaroid rotate_left1">
    <img src="https://epmgaa.media.clients.ellingtoncms.com/img/photos/2016/08/09/US_women_gymnastics_team.jpg" alt="Monterosso al Mare" width="100%" height="254px">
    <p class="caption">First Rio Gold Medal is Within Reach for US Women's Gymnastics...</p>
  </div> 
</div>